@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background: rgba(87, 217, 255, 0.3);
}

section {
  scroll-margin-top: 6rem;
}
